p Welcome to #{title}
div#game
  div#score
    span Score: 10
  div#game_board
    canvas#game_board_canvas(width = 700, height = 400)

:coffeescript
  socket = io.connect "ws://#{window.location.host}"

  socket.on 'connect', ->
    console.log "Socket opened, Master!"

  socket.on 'state', (data) ->
    console.log "Whoa, he moved"

  socket.on 'joined', (side) ->
    console.log "I'm at #{side} side"

  socket.emit 'join'
  socket.emit 'state', moved: Math.random()
