!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src="/javascripts/socket.io.min.js")
    script(type='text/javascript', src='/game.core.js')
    script(type='text/javascript', src='/javascripts/pong.js')

  body
    header
      h1= title

    section#body!= body

    footer
      span Powered by 
        a(href='https://github.com/Oregu/') Oregu
        |  and 
        a(href='https://github.com/Axblade/') Axblade
      br
      span &copy; 2012
