!!!
html
  head
    title= title
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    script(type='text/javascript', src='/public/javascripts/jquery.js')
    script(type='text/javascript', src='/public/javascripts/socket.io.min.js')
    script(type='text/javascript', src='/public/javascripts/animation.js')
    script(type='text/javascript', src='/game.core.js')
    script(type='text/javascript', src='/public/javascripts/pong.js')

  body
    header
      a(href='https://github.com/Forklore/polypong', target='_blank')
        img(src='https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png',
            style='position: absolute; top: 0; right: 0; border: 0;',
            alt='Fork me on GitHub')
      h1= title

    block content

    footer
      span Powered by 
        a(href='https://github.com/Oregu/') Oregu
        |  and 
        a(href='https://github.com/Axblade/') Axblade
      br
      span &copy; 2012
